social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_0_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_10_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_11_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_12_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_13_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_14_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_15_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_16_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_17_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_18_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_19_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_1_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_20_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_21_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_22_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_23_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_24_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_25_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_26_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_27_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_28_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_29_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_2_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_30_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_31_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_3_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_4_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_5_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_6_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_7_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_8_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.1-8B_attention_layer_0_head_9_top5.png
social_networks/final_project/hot/individual_maps_top5/Llama-3.2-1B_attention_layer_0_head_0_top5.png
